{% load mezzanine_tags i18n staticfiles %}
<footer>
<div class="container marketing">
<div class="row">
<div class="col-lg-4">
    <h4>Zapraszamy do kontaktu</h4>
    <span class="glyphicon glyphicon-phone-alt">&nbsp;</span> 58 661 70 91<br/>
    <span class="glyphicon glyphicon-earphone">&nbsp;</span> 667 724 777<br/>
    <span class="glyphicon glyphicon-envelope">&nbsp;</span> <a href="mailto:biuro@khorlo.pl">biuro@khorlo.pl</a>
</div>
<div class="col-lg-4">
    <h4>Godziny przyjęć</h4>
<p>Gdynia: Pn. - Pt.: 9.00-19.00<br/>
    Gdańsk: Wt, Czw: 15.00 - 19.00 &nbsp;<a href="/blog/otwarcie-gabinetu-medycyny-tybetanskiej-w-gdansku/"><span class="glyphicon glyphicon-info-sign">&nbsp;</span></a><br/>
    Kartuzy: Sb &nbsp;<a href="/blog/wspolpraca-z-centrum-odnowy-biologicznej-w-kartuzach/"><span class="glyphicon glyphicon-info-sign">&nbsp;</span></a>
</p>
</div>
<div class="col-lg-4">
    <h4>Nasza siedziba</h4>
<address>
    <p>ul. Świętojańska 92B/1
        <br/>
        81-388 Gdynia</p>
</address>
    Oddział w Gdańsku:<br/>
    <address>
    <p>Al. Grunwaldzka 100
        <br/>
        80-244 Gdańsk</p>
</address>

</div>
{% comment %}<div class="col-lg-3"><img  src="{% static "img/map.png" %}"alt="Wieloletnie Tradycja"></div>{% endcomment %}
</div>
<div class="row text-center">
Polub nas na facebooku <div class="fb-like" data-href="http://www.khorlo.pl" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
</div>
<div class="row">
<p class="site-info text-center">
    {% comment %}<img src="http://www.python.org/static/community_logos/python-powered-w-70x28.png"/>
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}

    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>{% endcomment %}
{#    <span class="separator">|</span>#}
    {#<br/>Projekt i wykonanie <a target="_blank" href="http://uxbox.pl">UXbox.pl</a>#}
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>

</div>
</footer>
